<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="Smoke"></include>
			</run>
		</groups>

		<!-- -->
		<classes>
			<class name="TestNGDemo.TestNGDemo.day1" />
			<methods>
				<method>
					<include name="demo2" />
				</method>
			</methods>
			<class name="TestNGDemo.TestNGDemo.day4" />
			<methods>
				<method>
					<include name="API.*" />
				</method>
			</methods>

		</classes>
	</test>

</suite> <!-- Suite -->
